#div1 {
    background-color: yellow;
    width: 100vw;
    height: 100vh;
}

#form {
    border: 1px solid blue;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* *** */
}

#button {
    background-color: blue;
    color: white;
    border-radius: 12px;
}